@model KontoGruppe

<a asp-route-id="@Model.Id" class='tree-level-@Model.Level @(Model.Id.Equals(ViewData["Id"]) ? "selected" : "")'>
    <b>@Model.Id</b>
    &nbsp; &nbsp;
    @Model.Name
</a>

@foreach (var g in Model.Untergruppen)
{
    <partial name="_TreeItem" model="g" />
}