@model Ex05_Scripting.Models.Account

<div class="tree-item tree-item-account">
    <i class="fas fa-edit icon-edit" data-id="@Model.Id"></i>&nbsp;
    <i class="fas fa-trash-alt icon-delete" data-id="@Model.Id"></i> &nbsp; 
    <b>@Model.Id</b> &nbsp; &nbsp; @Model.Name
</div>

